.cabecalho {
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
 }

 .container__botao {
    display: none;
 }

 .container__imagem {
    padding: 0.3em;
 }

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../assex/menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../assex/menu_black_24dp 1.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-secundaria);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo {
    color: var(--cor-quaternaria);
    font-weight: 700;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-terciaria);
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__link {
    text-decoration: none;
    background: var(--cor-secundaria);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-logo);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-secundaria);
        color: var(--cor-terciaria);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-secundaria);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-terciaria);
    }
    
}

@media screen and (min-width: 1728px) {
    .container__texto {
        display: block;
    }
    
    .cabecalho {
        padding: 0 2em;
    }
    
    .opcoes {
        margin-right: auto;
    }
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor);
    }
}